In [2]:
from scipy.io import arff
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Formatação mais bonita para os notebooks
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('fivethirtyeight')
plt.rcParams['figure.figsize'] = (15,5)

In [3]:
df_albrecht = pd.read_csv('../Datasets/01.albrecht.csv')
df_albrecht.head()

   id  Input  Output  Inquiry  File  FPAdj  RawFPcounts  AdjFP  Effort
0   1     25     150       75    60   1.00      1750.00   1750   102.4
1   2    193      98       70    36   1.00      1902.00   1902   105.2
2   3     70      27        0    12   0.80       535.00    428    11.1
3   4     40      60       20    12   1.15       660.00    759    21.1
4   5     10      69        1     9   0.90       478.89    431    28.8