In [1]:
from scipy.io import arff
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Formatação mais bonita para os notebooks
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('fivethirtyeight')
plt.rcParams['figure.figsize'] = (15,5)

In [2]:
df_albrecht = pd.read_csv('../Datasets/04.isbsg10.csv')
df_albrecht.head()

,id,ID,Data_Quality,UFP,Year,IS,OT,AG,AT,DT,...,MAJ_T_Defects,X_T_Defects,TOT_T_Defects,MIN_I_Defects,MAJ_I_Defects,X_I_Defects,TOT_I_Defects,Unnamed: 95,Unnamed: 96,Unnamed: 97
0,1,10592,B,B,2010,Manufacturing,Manufacturing,Business Application,Track test management,New Development,...,?,?,?,?,?,?,?,NaN,NaN,NaN
1,2,11245,B,B,2010,Manufacturing,Manufacturing,Business Application,Part management in factory,New Development,...,?,?,?,?,?,?,?,NaN,NaN,NaN
2,3,11623,B,B,2010,Manufacturing,Manufacturing,Business Application,After sales Parts documentation,New Development,...,?,?,110,?,?,?,?,NaN,NaN,NaN
3,4,14319,B,B,2010,Banking,Banking,Business Application,Auditing Management,New Development,...,?,?,?,?,?,?,?,NaN,NaN,NaN
4,5,14653,B,B,2010,Manufacturing,Manufacturing,Business Application,Parts documentation,New Development,...,?,?,?,?,?,?,?,NaN,NaN,NaN